body {
background-color: #0b1330; /* dark background */

}
/* General App styles */
.App {
  /* max-width: 1200px; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  padding: 40px 20px;
  font-family: 'Inter', sans-serif;
  background-color: #0b1330; /* dark background */
  color: #fff;
  min-height: 100vh;
}

/* header */
.filter-header {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}
/* Filter Buttons */
.filter-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;
}

.filter-buttons button {
  padding: 8px 20px;
  border-radius: 9999px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.filter-buttons button:hover {
  background-color: #1f2a4d;
}

/* Cards container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Individual Card */
.card {
  max-width: 87%;
  background-color: #1F2535;
  border-radius: 20px;
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

/* Card header with logo/icon */
.card-header-wrapper {
  display: flex;
  align-items: start;
}
.name-desc-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;   
  margin-left: 10px;
}


/* Extension Name */
.extension-name {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

/* Extension Description */
.extension-description {
  font-size: 0.9rem;
  color: #c0c0c0;
  margin: 0;
}

/* Card bottom row: Remove + Toggle */
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Remove Button inside card */
.card-actions button {
  padding: 6px 15px;
  border-radius: 9999px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.card-actions button:hover {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

/* Toggle Switch inside card */
.react-switch {
  margin-left: auto;
}

/* Adjust toggle colors */
.react-switch .react-switch-bg {
  background-color: #4d4d4d;
  
  
}

.react-switch .react-switch-handle {
  transition: all 0.2s;
}
